@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300);

.heart{
  color:red;
}
.title{
  color:black;
}



body,h1,h2,h3,h4,h5, {
    font-family: "Lato","Comfortaa",Arial,sans-serif;
    font-weight: 700;
    font-size:24px;
}

footer {
    padding: -5px;
    color:black;
    background: rgba(192, 192, 192, 0.9);
}


.svg-wrapper {
  padding-top: 30px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}
.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Lato';
  font-size: 24px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

a:hover,a:focus{text-decoration:none;}
.svg-wrapper {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px;
  max-height:60px;
  cursor:default;
}
#name_area{
  height:50vh;
  background:url(http://www.pixelstalk.net/wp-content/uploads/2016/03/Free-Dark-Blue-Wallpaper-High-Quality-620x349.jpg) no-repeat center center fixed;
  background-size:cover;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
}

#profile{
  background:url(http://eykhorstsabina.com/wp-content/uploads/2014/01/BckGrnd-Dark-blue-pattern-wallpaper.jpg) repeat;
  background-size:cover;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover; 
}
#about,#contact{
height:70vh;
}
#profile{
  color:white;
}

button{
  background:none;
  border:none;
}
.btn{
   padding: 15px 10px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;

  border:none;
}

.btn::before,.btn::after {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #19f6e8;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
  outline:none;
  border:none;
}
.btn:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
  outline:none;
  border:none;
}
.content{
  padding-top:50px;
}
.project-caption{
  max-width: 400px;
  background-color: rgba(0,0,0, 0.8);
  text-align: left;
  padding: 25px;
  font-size:16px;
}
.portfolio-caption p{
  font-family:Arial, sans-serif;
  font-style: italic;
  font-size: 12px;
}
.portfolio-hover:hover{
  opacity:1;
}
.project-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin:0;
}
#portfolio .project-item .portfolio-link .portfolio-hover {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s,
}
#portfolio .project-item .portfolio-link .portfolio-hover:hover{
  opacity:1;
}
.portfolio-hover-content i{
  margin-top:10px;
  color:grey;

}

.portfolio-hover-content{
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
}